@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Voting Rules";
}
<div class="left-header1">
    <h1>Election Voting Rules</h1>
</div>
<div class="container6">
    <div class="content-section6">
        <div class="content-block6">
            <h2>Register/Login</h2>
            <p>Before you vote you will be need to register and login to verify your email and ID number.</p>
            <img src="~/Images/vote_station.jpg" class="imageV">
        </div>
        <br />
        <div class="content-block6">
            <h2>Treat an Online ballot as a normal ballot</h2>
            <p>This ballot is the same as physical one, use it to vote the same way you would with a physical one.</p>
            <img src="~/Images/ballot.jpg" class="imageV">
        </div>
        <br />
        <div class="content-block6">
            <h2>Voted or Not ?</h2>
            <p>A selected candidate will be displayed with a tick in the box (Right Image) not an unchecked box (Left Image)</p>
            <div class="dual-image6">
                <img src="~/Images/unchecked_box.png" class="imageV">
                <img src="~/Images/checked_box.png" class="imageV">
            </div>
        </div>
        <br />
        <div class="content-block6">
            <h2>Privacy</h2>
            <p>You are voting at the comfort of your home, so the privacy of your vote is your responsibility. Do not vote in public spaces or around other people.</p>
            <img src="~/Images/ballot_box.jpg" class="imageV">
        </div>
        <br />
        <div class="content-block6">
            <h2>Security</h2>
            <p>Voting has been secured through methods of Authorization, Authentication and Input Validation as well as Encrypted storage and ensuring vote integrity to keep your vote secure.</p>
            <img src="~/Images/firebase_security.jpg" class="imageV">
        </div>
        <br/>
        <div class="content-block6">
            <h2>Review your vote</h2>
            <p>After voting you will be alerted if you have successfully voted and be given time to review your ballot before going back to the home page.</p>
            <img src="~/Images/voting_gif.gif" class="imageV">
        </div>
    </div>
</div>