@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Voting Rules";
}
<div class="left-header1">
    <h1>Election Voting Rules</h1>
</div>
<div class="container6">
    <div class="image-section6">
        <img src="your-image.jpg" alt="Descriptive Image">
    </div>
    <div class="content-section6">
        <div class="content-block6">
            <h2>Heading 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis libero sed leo viverra tempus.</p>
        </div>
        <div class="content-block6">
            <h2>Heading 2</h2>
            <p>Aliquam erat volutpat. Nam nec fringilla metus, in sollicitudin arcu. Cras at lacus vitae justo aliquet aliquet.</p>
        </div>
        <div class="content-block6">
            <h2>Heading 3</h2>
            <p>Vestibulum tempus libero vel sapien consectetur, eget dictum justo fermentum. Etiam feugiat nisi quis nisl tempor.</p>
        </div>
        <div class="content-block6">
            <h2>Heading 4</h2>
            <p>Phasellus a justo nec lorem viverra placerat. Sed accumsan dapibus orci, nec feugiat velit venenatis id.</p>
        </div>
        <div class="content-block6">
            <h2>Heading 5</h2>
            <p>Mauris volutpat mi sed purus tincidunt, in pellentesque ligula accumsan. Suspendisse auctor congue orci.</p>
        </div>
        <div class="content-block6">
            <h2>Heading 6</h2>
            <p>Aenean nec orci at justo vehicula gravida. Integer vitae metus quis ligula dapibus scelerisque et at lacus.</p>
        </div>
    </div>
</div>