@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login Page";
}
<div class="container">
    <div class="form_area">
        <p class="title">Login</p>
        <form action="">
            <div class="form_group">
                <label class="sub_title" for="email">Email</label>
                <input placeholder="Enter your email" id="email" class="form_style" type="email">
            </div>
            <div class="form_group">
                <label class="sub_title" for="idNum">Identification Number</label>
                <input placeholder="Enter your ID Number" class="form_style" type="text">
            </div>
            <div class="form_group">
                <label class="sub_title" for="password">Password</label>
                <input placeholder="Enter your password" id="password" class="form_style" type="password">
            </div>
            <div>
                <button class="btn">Login</button>
                <p style="color:white">Not Registered? <a asp-action="Register" class="link" >Register Here</a></p><a class="link">
                </a>
            </div><a class="link" href="">

            </a>
        </form>
    </div><a class="link" href="">
    </a>
</div>