<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Voting_Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_Voting_Application.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"/>

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <!-- Logo and App Name -->
        <div class="logo">
            <img src="IEC_logo.png" alt="App Logo">
            <span>IEC Voting Platform</span>
        </div>

        <!-- Navigation Links Centered in the Navbar -->
        <div class="nav-links">
            <a  asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Login">Login</a>
            <a asp-controller="Home" asp-action="Register">Register</a>
            <!-- i need to make this link travel to about -->
            <a asp-controller="Home" asp-action="About">About</a>
            <a asp-controller="Home" asp-action="Profile">Profile</a>

        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - E_Voting_Application - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
