@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<!-- Slideshow container - Code adapted from (W3Schools) www.w3schools.com -->
<!-- Quotes -->
<div class="slideshow-container">

	<div class="mySlides">
        <q>We have moved from an era of pessimism, division, limited opportunities, turmoil and conflict. We are starting a new era of hope, reconciliation and nation building. We sincerely hope that by the mere casting of a vote the results will give hope to all South Africans and make all South Africans realise this is our country. We are one nation.</q>
        <p class="author">- Nelson Mandela</p>
	</div>

    <div class="mySlides">
        <q>South Africa belongs to all who live in it, black and white.</q>
        <p class="author">- Thabo Mbeki</p>
    </div>

    <div class="mySlides">
        <q>Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.</q>
        <p class="author">- Martin Luther King, Jr.</p>
    </div>

	<div class="mySlides">
        <q>Women of South Africa are some of the most powerful people on Earth. Change what you believe is possible for yourself.</q>
		<p class="author">- Oprah Winfrey</p>
	</div>

    <div class="mySlides">
        <q>The best argument against democracy is a five-minute conversation with the average voter.</q>
        <p class="author">- Winston Churchill</p>
    </div>

    <div class="mySlides">
        <q>Change will not come if we wait for some other person or some other time. We are the ones we've been waiting for. We are the change that we seek.</q>
        <p class="author">- Barack Obama</p>
    </div>

    <div class="mySlides">
        <q>When something is important enough, you do it even if the odds are not in your favor.</q>
        <p class="author">- Elon Musk</p>
    </div>

    <div class="mySlides">
        <q>Differences are not intended to separate, to alienate. We are different precisely in order to realize our need of one another.</q>
        <p class="author">- Desmond Tutu</p>
    </div>

    <div class="mySlides">
        <q>Those who invest in South Africa should not think they are doing us a favor; they are here for what they get out of our cheap and abundant labor, and they should know that they are buttressing one of the most vicious systems</q>
        <p class="author">- Desmond Tutu</p>
    </div>
</div>

<!-- IEC -->
<h2 class="section-title mt-0">About the Independent Electoral Commission (IEC)</h2>
<br />
<p class="section-text">
    The Independent Electoral Commission (IEC) of South Africa is a cornerstone of the nation's democratic process, tasked with ensuring free, fair, and credible elections. Established in 1997, the IEC operates as an independent body responsible for managing the electoral process, including voter registration, party registration, election monitoring, and the counting of votes. By upholding the integrity of elections, the IEC guarantees that every citizen has the opportunity to participate in shaping the future of the country. Through its commitment to transparency, accountability, and inclusivity, the IEC plays a vital role in fostering trust in South Africa's democracy and promoting political stability.
</p>
<br />

<!-- Importance of democracy and elections -->
<h2 class="section-title mt-0">Importance of Democracy and Elections in South Africa</h2>
<br />
<p class="section-text">
    South Africa's democracy, established after the end of apartheid in 1994, represents the triumph of justice, equality, and freedom. The country's democratic system ensures that all citizens, regardless of race, gender, or background, have the right to vote and participate in the political process. This inclusivity strengthens the foundation of South Africa's society by providing every individual with a voice, empowering them to influence government policies and leadership decisions. Democracy in South Africa is not only a political system but a symbol of the nation's commitment to equality and the ongoing fight against injustice.
</p>
<br />
<p class="section-text">
    Elections in South Africa play a pivotal role in shaping the future of the nation. They offer an opportunity for citizens to choose their representatives at various levels of government, from local councils to the national legislature. Through regular, free, and fair elections, South Africa ensures that leaders remain accountable to the people and that power is peacefully transferred between ruling parties. This process fosters political stability, strengthens democratic institutions, and encourages government transparency. In a diverse and dynamic society like South Africa, elections are essential in maintaining the values of democracy while addressing the needs of all its people.
</p>
<br />

<!-- Benefits of Democracy -->
<section class="features section">
    <div class="container">
        <div class="features-inner section-inner">
            <div class="features-header text-center">
                <div class="container-sm">
                    <h2 class="section-title mt-0">Benefits of Democracy</h2>
                    <p class="section-paragraph">Aspects that make a strong democratic country...</p>
                </div>
            </div>
            <div class="features-wrap">
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon" style="background:#FFD2DA;">
                            <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="nonzero">
                                    <path d="M43 47v7a13 13 0 0 0 13-13v-7c-7.18 0-13 5.82-13 13z" fill="#FF6381" />
                                    <path d="M32 41v4a9 9 0 0 0 9 9v-4a9 9 0 0 0-9-9z" fill="#FF97AA" />
                                </g>
                            </svg>
                        </div>
                        <h4 class="feature-title h3-mobile mb-8" style="color:steelblue">Equality</h4>
                        <p class="text-sm">Ensures that all citizens have equal rights and opportunities, fostering a fair society.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon" style="background:#FFD8CD;">
                            <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="nonzero">
                                    <path d="M54 56h-9a2 2 0 0 1-2-2V43a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2zm-9-13v10h9V43h-9z" fill="#FCAC96" />
                                    <path d="M41 50h-7V34h14v5h2v-5a2 2 0 0 0-2-2H34a2 2 0 0 0-2 2v18a2 2 0 0 0 2 2h7v-4z" fill="#FC8464" />
                                </g>
                            </svg>
                        </div>
                        <h4 class="feature-title h3-mobile mb-8" style="color:steelblue">Freedom</h4>
                        <p class="text-sm">Allows individuals to express themselves without fear, promoting innovation and personal growth.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon" style="background:#C6FDF3;">
                            <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="nonzero">
                                    <circle fill="#1ADAB7" cx="38" cy="50" r="5" />
                                    <path d="M53 42h2v-8a1 1 0 0 0-1-1h-8v2h5.586l-8.293 8.293a1 1 0 1 0 1.414 1.414L53 36.414V42z" fill="#1ADAB7" />
                                    <path fill="#83F0DD" d="M34 41.414l3-3 3 3L41.414 40l-3-3 3-3L40 32.586l-3 3-3-3L32.586 34l3 3-3 3zM55.414 48L54 46.586l-3 3-3-3L46.586 48l3 3-3 3L48 55.414l3-3 3 3L55.414 54l-3-3z" />
                                </g>
                            </svg>
                        </div>
                        <h4 class="feature-title h3-mobile mb-8" style="color:steelblue">Participation</h4>
                        <p class="text-sm">Encourages citizens to engage in decision-making, leading to policies that reflect the people's needs.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing">
                    <div class="feature-inner">
                        <div class="feature-icon" style="background:#E0E1FE;">
                            <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="nonzero">
                                    <path d="M41 42h-7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1zM41 55h-7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1z" fill="#4950F6" />
                                    <path fill="#8D92FA" d="M45 34h10v2H45zM45 39h10v2H45zM45 47h10v2H45zM45 52h10v2H45z" />
                                </g>
                            </svg>
                        </div>
                        <h4 class="feature-title h3-mobile mb-8" style="color:steelblue">Transparency</h4>
                        <p class="text-sm">Builds trust in government by making actions visible, which reduces corruption and enhances accountability.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Video -->
<h3 style="text-align: center; margin-top: 0px;" class="section-title mt-0 text-center">Electoral Flashbacks: Behind the Ballot</h3>
<video autoplay muted loop id="myVideo">
    <source src="/Videos/elections_vid.mp4" type="video/mp4">
</video>

<script>
	var slideIndex = 0;
	showSlides(); 

	// Function to show the slides
	function showSlides() {
		var slides = document.getElementsByClassName("mySlides");

		for (var i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}

		slideIndex++;
		if (slideIndex > slides.length) {
			slideIndex = 1;
		}

		slides[slideIndex - 1].style.display = "block";

		// Automatically move to the next slide every 5 seconds
		setTimeout(showSlides, 5000); 
	}
</script>