@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Election";
}

<div class="left-header1">
    <h1>Create upcoming Election</h1>
</div>

